<!DOCTYPE html>
<html ng-app="app" ng-controller="Recherche">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
      <title>Web Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./Bootstrap, from Twitter_files/bootstrap.css" rel="stylesheet">
     
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="./Bootstrap, from Twitter_files/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
     <link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="http://getbootstrap.com/2.3.2/assets/ico/favicon.png">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" >Projet WS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class=""><a href="listRdv.html">Liste des rendez-vous</a></li>
              <li class="dropdown">
                <a href=" " class="dropdown-toggle" data-toggle="dropdown"> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="listRdvDate.html">Liste des rendez-vous par date</a></li>
                  <li><a href="listRdvMedecin.html">Liste des rendez-vous par Medecin</a></li>
                  <li><a href="listRdvPatient.html">Liste des rendez-vous par Patient</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Ajouter</li>
                  <li><a href="medecin.html">Ajout Medecin</a></li>
                  <li><a href="patient.html">Ajout Patient</a></li>
                  <li><a href="rdv.html">Ajout Rendez-vous</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Rechercher</li>
                  <li><a href="rechercheMedecin.html">Recherche de medecin</a></li>
                  <li><a href="recherchePatient.html">Recherche de patient</a></li>
               
                </ul>
              </li>
            </ul>
             <form class="navbar-form pull-right">
              <a href="index.html"><input type="button" ng-click="Deconnecter()" value="Deconnecter" class= "btn btn-info"/></a>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
	
		<form class="">
		  <div class="form-group">
		    <label for="staticEmail2" class="sr-only">Médécin</label>
		    <input type="text" ng-model="nom" placeholder="Mot clé"/>
		  </div>
		  <button type="" ng-click="recherche()" class="btn btn-primary">Chercher</button>  
	    </form>

      <!-- Main   -->
      <div class="hero-unit">
        <h2>Recherche Médécin par Mot Clé de Nom ou Prénom</h2>       
      </div>

		<table ng-if="visibilite==true" class="table table-sm table-dark">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nom</th>
		      <th scope="col">Prenom</th>
		      <th scope="col">Spéciélité</th>
		      <th scope="col">Grade</th>
		    </tr>
		  </thead>
		  <tbody>
             <tr ng-repeat="p in retour">
                 <th scope="row">*</th>
                 <td>{{p.nom}}</td>
                 <td>{{p.prenom}}</td>
                 <td>{{p.specialite}}</td>
                 <td>{{p.grade}}</td>
                 <td><input ng-click="editer(p.idMedecin)" type="button" value="editer"  class = "btn btn-success"/></td>
                 <td><input ng-click="supprimer(p.idMedecin)" type="button" value="supprimer" class = "btn btn-danger"/></td>
             </tr>
             
         </tbody>
		</table>
		<div ng-if="visibilite==false">
			<div class="alert alert-danger" role="alert">
			    Aucun médécin ne porte un Nom ou Prénom comprenant ce mot clé
			</div>
		</div>

		<form ng-show="form==true">
			<div class="form-group">
			    <label class="col-form-label">Nom</label>
			    <input type="text" class="form-control"  ng-model="medecin.nom">
			</div>
			<div class="form-group">
			    <label class="col-form-label">Prénom</label>
			    <input type="text" class="form-control"  ng-model="medecin.prenom">
			</div>
			<div class="form-group">
			    <label class="col-form-label">Spécialité</label>
			    <input type="text" class="form-control"  ng-model="medecin.specialite">
			</div>
			<div class="form-group">
			    <label class="col-form-label">Grade</label>
			    <input type="text" class="form-control"  ng-model="medecin.grade">
			</div>
			<div class="form-group">
			    <input type="submit" ng-click="update()" value="Modifier" class= "btn btn-info"/>
			</div>
		</form>
    </div>
	<script type="text/javascript">
	var app = angular.module('app', []);
	app.controller('Recherche', function($scope, $http) {
		$scope.recherche=function(){
			$http.get("http://localhost:8080/CabinetMedicalWS/medecin/medecinsFindNom/"+$scope.nom).then(function(response){
				$scope.retour =response.data ;
				if($scope.retour.length!=0)
				{
					$scope.visibilite = true;
				}
				else
				{
					$scope.visibilite = false;
				}
			});	
		}
		$scope.editer=function(idmedecin){
			$http.get("http://localhost:8080/CabinetMedicalWS/medecin/medecins/"+idmedecin).then(function(response){
				if(response.data.error)
				{
					console.log("Erreur");
				}
				else
				{
					$scope.medecin =response.data ;
					$scope.form = true;
				}
			});	
		}
		$scope.update=function(idmedecin){
			$http.put("http://localhost:8080/CabinetMedicalWS/medecin/medecins",$scope.medecin,"").then(function(response){
				if(response.data.error)
				{
					console.log("Erreur");
				}
				else
				{
					$scope.medecin =response.data ;
					console.log($scope.medecin);
					$scope.medecin="";
					$scope.form = false;
				}
			});	
		}
		}
	);
	</script>
<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="./Bootstrap, from Twitter_files/jquery.js.telechargement"></script>
    <script src="./Bootstrap, from Twitter_files/bootstrap-transition.js.telechargement"></script>
    <script src="./Bootstrap, from Twitter_files/bootstrap-alert.js.telechargement"></script>
    <script src="./Bootstrap, from Twitter_files/bootstrap-modal.js.telechargement"></script>
    <script src="./Bootstrap, from Twitter_files/bootstrap-dropdown.js.telechargement"></script>
    <script src="./Bootstrap, from Twitter_files/bootstrap-scrollspy.js.telechargement"></script>
    <script src="./Bootstrap, from Twitter_files/bootstrap-tab.js.telechargement"></script>
    <script src="./Bootstrap, from Twitter_files/bootstrap-tooltip.js.telechargement"></script>
    <script src="./Bootstrap, from Twitter_files/bootstrap-popover.js.telechargement"></script>
    <script src="./Bootstrap, from Twitter_files/bootstrap-button.js.telechargement"></script>
    <script src="./Bootstrap, from Twitter_files/bootstrap-collapse.js.telechargement"></script>
    <script src="./Bootstrap, from Twitter_files/bootstrap-carousel.js.telechargement"></script>
    <script src="./Bootstrap, from Twitter_files/bootstrap-typeahead.js.telechargement"></script>

  

</body></html>